<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2xpT5GabMw4nHaOGppOjlMnSTMU_EYK4</string>
	<key>GCM_SENDER_ID</key>
	<string>963688951929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthsync.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>health-sync-55923</string>
	<key>STORAGE_BUCKET</key>
	<string>health-sync-55923.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963688951929:ios:0580b50897beed889c24a8</string>
</dict>
</plist>